section.wrapper {
    text-align: center;
}

canvas {
    outline: 5px solid black;
    background-color: white;
    max-height: 800px;
    max-width: 800px;
}


body{
    background-image: url("file:///Users/zaracruise/Desktop/UI Project/assets//img/StartImage.png");
    background-size: cover;
    background-position: center;
}

#dpad {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    bottom: 50px; /* Adjust as needed */
    left: 60%; /* Center horizontally */
    transform: translateX(-50%);
}

#dpad button {
    width: 50px;
    height: 50px;
    background-color: #e8e8e8;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}


.theme {
    --bg-color: #111;
    --main-color: #fefefe;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color);
    border-radius: 100%;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

.icon {
    position: absolute;
    top: calc(50% -13px);
    left: calc(50% -13px);
    width: 26px;
    height: 26px;
}

.icon.icon-moon {
    fill: var(--main-color);
}

.icon.icon-sun {
    stroke: var(--main-color);
    display: none;
}

.input:checked ~ .icon.icon-sun {
    display: block;
}

.input:checked ~ .icon.icon-moon {
    display: none;
}

.theme:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}
